@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}

/* Price range slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #C8A84B;
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: transparent;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #C8A84B;
  border: none;
  cursor: pointer;
}

@layer utilities {
  .mask-fade {
    -webkit-mask-image: radial-gradient(circle at top right,
        transparent 0%,
        black 80%);

    mask-image: radial-gradient(circle at top right,
        transparent 0%,
        black 80%);

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  /* globals.css */

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* ═══════════════════════════════════════════
   CURSOR
═══════════════════════════════════════════ */
  .cur-dot {
    position: fixed;
    width: 8px;
    height: 8px;
    background: #e9bc09;
    border-radius: 50%;
    pointer-events: none;
    z-index: 99999;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(233, 188, 9, 0.6);
    transition: width 0.15s, height 0.15s;
    mix-blend-mode: screen;
  }

  .cur-ring {
    position: fixed;
    width: 44px;
    height: 44px;
    border: 1.5px solid rgba(233, 188, 9, 0.5);
    border-radius: 50%;
    pointer-events: none;
    z-index: 99998;
    transform: translate(-50%, -50%);
    transition:
      width 0.3s ease,
      height 0.3s ease,
      border-color 0.3s ease;
    mix-blend-mode: screen;
  }

  .cur-ring.big {
    width: 60px;
    height: 60px;
    border-color: rgba(233, 188, 9, 0.8);
  }
}